<main>
  <div class="map_container">
    <div id="map" class="map"></div>
  </div>
</main>

<aside class="list_container">
  <div class="sidebar">      
    <div class="heading">
      <h1>All graffitis</h1>
    </div>
    <div id="listings" class="container x proximity-scroll-snapping listings">
     
    </div>
    <div class="heading">
      <h1>Following artists</h1>
    </div>
    <div id="feed">

      <p class="personal-feed">Login to see your personal feed here</p>
      
    </div>
  </div>
</aside>