<main>
  <div class="map_container">
    <div id="map" class="map"></div>
  </div>
</main>

<aside class="list_container">
  <div class="sidebar">      
    <div class="heading">
      <h1>All graffitis</h1>
    </div>
    <div id="listings" class="listings">
    </div>
  </div>
</aside>