<form
      method="POST"
      id="newUser"
      action="/register"
      class="ac-radio ac-fill"
    >
      <h1>Sign up</h1>
      <fieldset>
        <label for="nickName">Nickname</label>
        <input type="text" name="nickName" class="" required />

        <label for="email" class="label field3">E-mailadres</label>
        <input type="email" name="email" id="email" required />

        <label for="password" class="label field4">Wachtwoord</label>
        <input type="password" name="password" class="field field4" required />
      </fieldset>
      <button class="form__button" type="submit">Registreer</button>
    </form>