<section class="form_upload">
    <label for="show-form"></label>
    <input type="checkbox" name="" id="show-form">
<form id="upload" enctype='application/x-www-form-urlencoded' action="/upload" method="post">
    <label for="artist">Artist name:
        <input name="artist" type="text" id="artist">
    </label>
    <fieldset required>
        <legend>What type of graffiti?</legend>
        <label for="tag">Tag
            <input type="checkbox" name="style" id="tag" value="tag">
        </label>
        <label for="piece">Piece
            <input type="checkbox" name="style" id="piece" value="piece">
        </label>
        <label for="throw">Throw-up
            <input type="checkbox" name="style" id="throw" value="throw">
        </label>
    </fieldset>
    <fieldset>
        <legend>Where did you spot this graff?</legend>
        
        <label for="lat">Latitude
            <input type="text" name="lat" id="lat">
        </label>
        <label for="lon">Longtitude
            <input type="text" name="lon" id="lon">
        </label>
        <p>Or use a marker to define the position!</p>
        <a href="#" id="drop-marker">Use marker</a>
    </fieldset>
    
    <input type="file" id="fileElem" name="file" multiple accept="image/*" style="display:none">
<a href="#" id="fileSelect">Select some files</a> 
<div id="fileList">
  <p>No files selected!</p>
</div>
    <button type="submit">Upload</button>
</form>
</section>