<aside id="member-list">
  <h3>Fighters online</h3>
  <ul></ul>
  
</aside>
<div  class="mana-pool"></div>
<ul id="messages"></ul>
<form action="">
  
  <div class="message-box">
    <input id="m" autocomplete="off" /><button>Send</button>
  </div>
</form>