<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/upload-graffs.ejs') %>

    <form
      method="POST"
      id="newUser"
      action="/register"
    >
      <h1>Sign up</h1>
      <fieldset>
        <label for="firstName">Voornaam</label>
        <input type="text" name="firstName" class="" required />

        <label for="lastName" class="label field2">Achternaam</label>
        <input type="text" name="lastName" class="" required />

        <label for="email" class="label field3">E-mailadres</label>
        <input type="email" name="email" id="email" required />

        <label for="password" class="label field4">Wachtwoord</label>
        <input type="password" name="password" class="field field4" required />
      </fieldset>
      <button class="form__button" type="submit">Registreer</button>
    </form>

