@media only screen and (max-width: 975px) {
  :root {
    --container-width: 34rem;
  }
}
@media only screen and (max-width: 34rem) {
  :root {
    --container-width: 100vw;
  }
  header nav {
    background-size: 100px 50px;
  }
  header a {
    width: 33%;
  }
  header img {
    width: 100%;
    object-fit: contain;
  }
}
@media only screen and (max-width: 390px) {
  body{
    max-height: 100vh;
    overflow: hidden;
  }
  header nav {
    background-image: none;
  }
  header a img {
    display: none;
  }
  main {
    margin-top: 0;
  }
}
